html {
    font-size: 0.8px;
}

body {
    margin: 0;
    font-family: arial;
    background: url(../img/ball.png) no-repeat right bottom, radial-gradient(circle at center, #34619d 0%, #34619d 1%, #1d3b6e 100%);
}

.wraper {

}

.header {
    display: flex;
    padding: 19rem 0;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 15rem;
  align-items: center;
}


.header nav {

    padding: 15rem 50rem;
    border-radius: 70px;
    background-color: #acacaa4e;

}

.header ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    column-gap: 30rem;
}

.header_li {
    transition: all 1s ease;
}

.header_li:hover {
    transform: scale(1.23);
}

.header a {
    font-size: 14rem;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    transition: all 1s ease;
}

.header_li:hover>a {
    color: #f4d633;
}

.logo {
    display: flex;
    column-gap: 10rem;
    align-items: center;
}

.header-logo-text p {
    text-align: right;
    margin: 0;
    font-family: Arial, sans-serif;

}

.first-word {
    font-size: 20rem;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.last-word {
    font-size: 20rem;
    color: #f4d633;
    font-weight: normal;
    text-transform: lowercase;
}

.logo-ball {
    max-width: 46rem;
}

.phone {
    column-gap: 10rem;
    display: flex;
    align-items: center;
    transition: all 1s ease;
}

.phone:hover {
    transform: scale(1.10);
}

.phone a {
    font-size: 16rem;
    color: #ffffff;
    transition: all 1s ease;
}

.phone:hover>a {
    color: #f4d633;
    ;
}

.main {
    padding: 153rem 0 130rem 0;
}

.section {
    display: grid;
    max-width: 692rem;
    row-gap: 16rem;
}

.section p {
    font-size: 16rem;
    color: #ffffff;
    font-style: italic;
    margin: 0;
}

.section h1 {
    max-width: 692px;
    font-size: 38rem;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 800;
    margin: 0;
}

.section span {
    font-size: 28rem;
    color: #ffffff;
    padding-bottom: 25rem;
}

.button {
    display: inline-block;
    max-width: 250px;
    padding: 29rem 42rem;
    border-radius: 75rem;
    border: 0.3rem solid #f4d633;
    background-color: #1d3b6e00;
    transition: all 1s ease;
    color: #f4d633;
    text-decoration: none;
    font-size: 18rem;
    text-transform: uppercase;
    color: #f4d633;
    font-weight: bold;
}

.button:hover {
    transform: scale(1.1);
    border: 3rem solid #fff;
    color: #fff;
}

.status-reputation {
    display: flex;
    column-gap: 08rem;
    font-size: 20rem;
    color: #ffffff;
    font-weight: bold;
    padding-top: 32rem;
    flex-wrap: wrap;
}

.status-reputation p {
    margin: 0;
}

.footer {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f4d633;
    align-items: center;
    column-gap: 20rem;
}

.social-networks {
    display: flex;
    column-gap: 5px;
}

.footer-img {
    transition: all 1s ease;
}

.footer-img:hover {
    transform: scale(1.35);
}

.footer p {
    font-size: 16rem;
    line-height: 14rem;
    color: #1e3c6f;
    font-weight: bold;
}

.first-word-footer {
    font-size: 20rem;
    font-weight: bold;
    text-transform: uppercase;
}

.last-word-footer {
    font-size: 20rem;
    font-weight: normal;
    text-transform: lowercase;
}


@media screen and (min-width:700px) {
    html{
        font-size: 1px;
    }

    .wraper {
        padding: 0 100px;
    }

    .header {
        display: flex;
        justify-content: space-between;
    }

    .section h1 {
        font-size: 48px;
    }

    .footer {
        display: flex;
        justify-content: space-between;
    }
}